<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
  <style>
    div {
      margin: 20px
    }
  </style>
</head>
<body>
  <div id="app">
    <div>
      <h2>Text:</h2>
      <input type="text" v-model="message" placeholder="edit me">
      <input type="number" v-model="age" >
      <span>Message is: {{ message }}, Age is: {{ age }}</span>
    </div>
    
    <div>
      <h2>Checkbox:</h2>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames | json }}</span>
    </div>
    
    <div>
      <h2>Radio:</h2>
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br>
      <span>Picked: {{ picked }}</span>
    </div>
    
    <div>
      <h2>Select:</h2>
      <select v-model="selected">
        <option v-for="option of options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <span>Selected: {{ selected }}</span>
    </div>
  </div>
  
  <script src="../build/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        //age: 1,
        checkedNames: [],
        selected: 'A',
        options: [
          { text: 'One', value: 'A' },
          { text: 'Two', value: 'B' },
          { text: 'Three', value: 'C' }
        ],
      }
    })
  </script>
</body>
</html>